@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');

$background-color: teal;
$text-color: white;
$header-font: 'Bungee Shade', sans-serif;

body {
  background: rgb(29, 53, 63);
  color: $text-color;
  font-family: 'Kara', sans-serif;
  text-align: center;
}
