@import '../../styles';

input {
  border-radius: 5px;
  border: none;
  color: darkgrey;
  font-size: 10px;
  height: 22px;
  text-align: center;
  width: 12px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.set-name {
  width: 40px;
}
